@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        color: #e0e0e0;
        background-color:  #121212;
        font-family: 'Roboto', sans-serif;
    }

    h1, h2, h3 {
        font-family: 'Montserrat', sans-serif;
    }
}

@layer components {
    .menuLink {
        @apply cursor-pointer hover:text-[#c5c5c5];
        
    }
    .tags {
        background-color: rgba(10, 189, 227, 0.8);
        margin-right: 0.5rem;
        margin-top: 0.5rem;
        padding: 3px 10px;
        display: inline-block;
        color: white;
        font-size: 12px;
        border-radius: 5px;
    }
    .tags:last-child {
        margin-right: 0;
    }

    .tags:nth-child(2) {
        background-color:  rgba(165, 94, 234, 0.8);
    }

    .tags:nth-child(3) {
        background-color: rgba(219, 159, 16, 0.8);
    }

    .tags:nth-child(4) {
        background-color: rgba(235, 77, 75, 0.8);
    }

    .tags:nth-child(5) {
        background-color: rgba(0, 167, 36, 0.8);
    }
}

@keyframes pulse {
    0% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
    }
    50% {
      filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.8));
    }
    100% {
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4));
    }
  }

  

